<div id="app">
  <nav class="navbar navbar-expand">
    <a href="#" class="navbar-brand">
      <img src="../assets/tasker_icon.svg" alt="" width="60" height="60">
      Tasker
    </a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/admin" class="nav-link" routerLink="admin" style="color: #44867b;">Admin Board</a>
      </li>
      <li class="nav-item" *ngIf="showModeratorBoard">
        <a href="/mod" class="nav-link" routerLink="mod" style="color: #44867b;">Moderator Board</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="user" style="color: #44867b;">User</a>
      </li>
      <li class="nav-item dropdown" *ngIf="isLoggedIn">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
          Groups
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="/groups">My Groups</a></li>
          <li><a class="dropdown-item" href="/creategroup">Create New Group</a></li>
        </ul>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register" style="color: #44867b;">Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login" style="color: #44867b;">Login</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile" style="color: #44867b;">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()" style="color: #44867b;">Logout</a>
      </li>
    </ul>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>


