<div class ="container">
    <header class="jumbotron">
        <h3>
            <strong>{{ group.name }}</strong>
        </h3>
    </header>
    <p>
        <strong>Owner:</strong> {{group.owner_name}}
    </p>
    <p>
        <strong>Users:</strong>
    </p>
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let user of groupusers">
            {{ user.username }}
            <button type="button" class="btn btn-secondary" [routerLink]="['/', user.username]" *ngIf="isOwner && user.username != group.owner_name">Change Role</button>
            <button type="button" class="btn btn-danger" (click)="removeUser(user.username)" *ngIf="isOwner && user.username != group.owner_name">Remove User</button>
        </li>
    </ul>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal" data-username="user.username" *ngIf="isOwner">Add User</button>
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#leaveModal" *ngIf="!isOwner">Leave Group</button>
    <button type="button" class="btn btn-primary" [routerLink]="['./roles']" *ngIf="isOwner">Edit Roles</button>
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#disbandModal" *ngIf="isOwner">Disband Group</button>
</div>

<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Add User to {{group.name}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="username" class="col-form-label">Username:</label>
                        <input type="text" class="form-control" id="addusername" #addusername>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="addUser(addusername.value)">Submit</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="leaveModal" aria-labelledby="leaveModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                Are you sure you want to leave {{group.name}}?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="leaveGroup()">Yes</button>
                <button type="button" id="dismissLeaveModal" class="btn btn-primary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="disbandModal" aria-labelledby="disbandModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                Are you sure you want to disband {{group.name}}?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="disbandGroup()">Yes</button>
                <button type="button" id="dismissDisbandModal" class="btn btn-primary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
